.editor {
  margin: 10px 0;
  .menubar {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    i {
      margin-right: 10px;
    }
  }
  .editor__content {
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
  }
}
.ProseMirror {
  height: 130px;
  overflow-y: scroll;
  p {
    color: #616770;
  }
}
.ProseMirror-focused {
  outline: 0;
}
.non-directly {
  .panel {
    margin-bottom: 0 !important;
  }
  .directly-open {
    text-align: center;
    cursor: pointer;
  }
  .list {
    padding: 0 20px;
    ._main-box {
      margin-bottom: 0;
      .main-box {
        border-radius :0;
        border-bottom-width: 0px;
      }
      &:first-child {
        .main-box {
          border-top-width: 0px;
          -webkit-box-shadow: inset 0px 37px 48px -42px rgba(0,0,0,0.1);
          -moz-box-shadow: inset 0px 37px 48px -42px rgba(0,0,0,0.1);
          box-shadow: inset 0px 37px 48px -42px rgba(0,0,0,0.1);
        }
      }
      &:last-child {
        .main-box {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-width: 1px;
        }
        margin-bottom: 30px;
      }
    }
  }
}
.btn-action {
  background-color: #409805;
  border: 1px solid #409805;
  color:#fff;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 11px;
  margin-right: 10px;
  cursor: pointer;
  &.borders {
    border: 1px solid #616770;
    opacity: 1;
    background-color: transparent;
    color: #616770;
  }
  .count {
    position:absolute;margin-top:-10px;margin-left:-4px;
    background-color:#e01020;border-radius:40px;padding: 1px 4px 1px 3px;color:#fff;
    font-size:9px;
  }
}
.background-btn {
  color: #616770;
  font-size: 13px;
  border: 1px solid #616770;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
  margin-right: 10px;
}
.content.main {
  padding-top: 30px;
}
.settings-panel {
  padding-top:15px;
  border-bottom:1px solid #eee;
  font-size: 12px;
  color: #616770;
  padding-bottom:15px;
  &.map-opened {
    border: none;
  }
}
.poll-map {
  .map {
    .col-map:first-child {
      margin-left: 0px;
    }
    div.element {
      float: left;
      margin-left: 5px !important;
    }
    .col-map {
      margin-right: 15px;
    }
    &:first-child {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-top: 10px;
    }
  }
}
.map {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  .col-map {
    float: left;
    margin-right: 20px;
    &.horizontal {
      float: none;
    }
    div.element {
      color: #616770;
      font-size: 13px;
      font-weight: normal;
      background-color: #fff;
      border-radius: 20px;
      padding: 0px 9px;
      border: 1px solid #ddd;
      opacity: 0.8;
      margin-left: -8px;
      width: 20px;
      height: 20px;
      margin-bottom: 5px;
      cursor: pointer;
      &.pros {
        border-bottom:2px solid #149543;
      }
      &.cons {
        border-bottom:2px solid #e01020;
      }
      &.o-id-neutral-q {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      &.o-id-neutral-m {
        margin-top: -15px;
        margin-left: -3px;
        opacity: 1;
      }
    }
    div.active {
      background-color: #ddd;
    }
  }
}
.map > .col-map:first-child {
  margin-left: 20px;
}
.submit {
  margin-top: 20px;
}
.tooltip-arrow {
  display: none;
}
.rewardHover {
  position:absolute;
  background-color:rgba(255,255,255,1);
  width:105%;
  padding:10px;
  margin-top:-10px;
  margin-left:-10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  cursor:pointer;
  div {
    font-weight: normal;
    .fa-star {
      color: #efc20f !important;
      opacity: 1 !important;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transition: visibility 0s, opacity 0.2s linear;
  }
}
.add {
  padding: 20px 20px;
  .type {
    h2 {
      color: #616770;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
    }
    span.pros {
      color: #149543;
    }
    span.cons {
      color: #e01020;
    }
    span {
      cursor:pointer;
    }
    span > i {
      font-size: 13px;
    }
  }
}
.problem-modal {
  position: relative;
  .header-img {
    width: 100%;
    background-size: cover;
    height: 200px;
  }
  .desc {
    padding: 20px 20px;
    color: #333;
  }
}
.topic {
  padding-bottom: 40px;
  .white {

  }
  .img > img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
  }
  .title {
    padding-left: 25px;
  }
  .title > h1 {
    color: #333;
    margin-bottom: 10px;
    font-weight: normal;
    margin-top: -10px;

  }
  .title.loader {
    text-align: center;
    margin-top: 160px;
    .lds-ring {
      width: 60px;
      height: 60px;
      div {
        width: 60px;
        height: 60px;
        border: 8px solid #ddd;
        border-color: #ddd transparent transparent transparent;
      }
    }
  }
  @keyframes opa {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
  ._main-box
  {
    margin-bottom: 20px;
    .replies {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -13px;
      .reply {
        color: #616770;
        font-size: 13px;
        font-weight: normal;
        background-color: #fff;
        border-radius: 20px;
        padding: 0px 9px;
        border: 1px solid #ddd;
        opacity: 0.8;
        margin-left: -8px;
        width: 10px;
        height: 20px;
        &.with-content {
          width: auto;
        }
        &.pros {
          border-bottom:2px solid #149543;
        }
        &.cons {
          border-bottom:2px solid #e01020;
        }
      }
    }
  }
  .main-box {
    color: #616770;
    font-size: 13px;
    font-weight: normal;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 25px 20px 25px;
    border: 1px solid #ddd;
    opacity: 0.8;
    &.first {
      border-color: rgba(217,164,65, 0.6);
      .comment-title strong {
        color: rgba(217,164,65, 1);
      }
    }
    &.second {
      border-color: rgba(168,168,168, 0.6);
      .comment-title strong {
        color: rgba(168,168,168, 1);
      }
    }
    &.third {
      border-color: rgba(150,90,56, 0.6);
      .comment-title strong {
        color: rgba(150,90,56, 1);
      }
    }
    &.weight {
      padding-bottom: 20px;
    }
    .comment-title {
      transition: all 1s;
      position: relative;
      font-size: 18px;
      cursor: pointer;
      p, h1, h2, h3, h4, h5, h6, div {
        margin-bottom: 0;
        display: inline-block;
      }
      ul, ol {
        margin-bottom: 5px;
      }
      p:empty {
        display: none;
      }
      &:hover {
        transition: all 1s;
        color: #333;
        opacity: 1 !important;
        &:before {
          animation: opa 1s forwards;
          opacity: 1;
          font-family: "Font Awesome 5 Free";
          content: "\f35d";
          font-style: normal;
          font-weight: 900;
          text-decoration: inherit;
          font-size: 18px;
          padding-right: 0.5em;
          position: absolute;
          bottom: -3px;
          right: -40px;
          width:30px;
          height:30px;
        }
      }
    }
    .back {
      margin-top:-30px;
      position: absolute;
      cursor: pointer;
      span {
        padding: 5px 10px;
        font-size: 12px;
        color: rgba(97, 103, 112, 0.6);
        background-color: #fff;
        border: 1px solid #ddd;
        font-weight: 700;
        -webkit-box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
        -webkit-transition: all .2s;
        transition: all .2s;
        letter-spacing: 2px;
        margin-right: 20px;
        border-radius: 30px;
      }
      span:hover {
        color: rgba(97, 103, 112, 1);
        -webkit-transition: all .2s;
        transition: all .2s;
      }
    }
    &.pros, &.cons {
      span {
        font-size: 20px;
        cursor: pointer;
      }
      .pull-right > span {
        color: #fff;
        font-size: 12px;
        font-weight: normal;
        padding: 8px 10px;
        border-radius: 5px;
      }
    }
    &.pros {
      color: #149543;
      .pull-right > span {
        background-color: #149543;
      }
    }
    &.cons {
      color: #e01020;
      .pull-right > span {
        background-color: #e01020;
      }
    }
    h2, h3, h4, h5, h6 {
      font-size: 18px;
      margin: 0;
    }
    h3 {
      font-weight: normal;
      cursor: pointer;
    }
    .details {
      color: #616770;
      font-size: 13px;
      font-weight: bold;
      font-size: 12px;
      margin-top: 10px;
      position: relative;
      a {
        color: #616770;
        &:hover {
          text-decoration: none;
        }
      }
      img {
        margin-right: 0px;
        width: 17px;
        height: 17px;
        border-radius: 40px;
        opacity: 1;
      }
      .pull-right {
        /*       color: #409805;*/
        float: right;
      }
      .fas.fa-star, .fa-star-half-alt {
        color: #efc20f;
      }
      .far.fa-star {
        opacity: 0.2;
      }
      span.reward {
        font-size: 12px;
        font-weight: normal;
        background-color: #fff;
        border-radius: 5px;
        padding: 3px 6px;
        padding-left: 5px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        margin-left: 10px;
        cursor: pointer;
        &:before {
          position: absolute;
          content: '';
          width: 8px;
          height: 8px;
          border: 1px solid #ddd;
          background-color: #fff;
          margin-left: -9px;
          margin-top: 5px;
          border-top-color: transparent;
          border-right-color: transparent;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
  .main-box:hover {

  }
}
.demo {
  border:5px double;
  z-index:2;
  display:table;
  border-radius:90px;
  /*pointer-events:none;*/
  color: rgb(200,200,200);
  color: rgba(0,0,0,0.7);
}
.demo:hover {
  color:#55f;
}
.connection-border-right span {
  left: 1em;
}
.connection-border-left span {
  right: 1em;
}
.connection-border-top span {
  top: 1em;
}
.connection-border-bottom span {
  bottom: 1em;
}
.editor p.is-empty:first-child::before {
  content: attr(data-empty-text);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
}
.menububble.is-active {
  opacity: 1;
  visibility: visible;
}
.menububble {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  background: #000;
  border-radius: 5px;
  padding: .3rem;
  margin-bottom: .5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s,visibility .2s;
  transition: opacity .2s,visibility .2s;
}
.menububble__button:last-child {
  margin-right: 0;
}
.menububble__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(0,0,0,0);
  border: 0;
  color: #fff;
  padding: .2rem .5rem;
  margin-right: .2rem;
  border-radius: 3px;
  cursor: pointer;
}
.menububble__input {
  font: inherit;
  border: none;
  background: rgba(0,0,0,0);
  color: #fff;
}

.poll-stats {
  width:100%;
  div {
    background-color:#616770;
    height:20px;
    float:left;
    color: #fff;
    padding-left: 10px;
    font-size: 11px;
    padding-top: 2px;
    &.first {
      background-color: rgba(217,164,65, 1);
    }
    &.second {
      background-color: rgba(168,168,168, 1);
    }
    &.third {
      background-color: rgba(150,90,56, 1);
    }
  }
  div:first-child{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  div:last-child{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.poll-stats-icons {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  div.element {
    float: left;
    margin-right: 10px;
    font-size: 11px;
    .color {
      background-color: #616770;
      border-radius: 40px;
      width: 15px;
      height: 15px;
      float: left;
      &.first {
        background-color: rgba(217,164,65, 1);
      }
      &.second {
        background-color: rgba(168,168,168, 1);
      }
      &.third {
        background-color: rgba(150,90,56, 1);
      }
    }
    .name {
      max-width: 200px;
      margin-left: 5px;
      margin-right: 15px;
    }
    &:last-child {
      margin-right: 0;
      .name {
        margin-right: 0;
      }
    }
  }
}